@import "reset";

html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #000000;
}

body {
 
    background-size: cover;
}

p {
    padding: 5px;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

    &__description {
        text-align: center;
        margin-bottom: 30px;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        color: red;
        font-size: 30px;
        margin-bottom: 10px;
    }

    &__rules {
        margin-bottom: 20px;
    }
}

.playfield {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
  display: block;
  width: 200px;
  outline: none;
  color: white;
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  transition: .8s cubic-bezier(.165,.84,.44,1);

  &--hover:hover {
    background: rgb(46, 50, 255);
    font-size: 18px;
  }

  &--big-font {
      font-size: 28px;
      padding: 10px;
  }
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0 ;
    background-color: #000000;
 
    background-size: cover;

    &__title {
        margin-left: 100px;
        margin-top: 100px;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: red;
        font-size: 50px;
    }

    &__description {
        color: blue;
        margin-left: 100px;
        font-size: 18px;
    }

    &__button {
        margin-left: 100px;
        width: 300px;
    }
}

.gameOverPage {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;

    background-size: cover;
    z-index: 3;

    &__title {
       text-align: center;
       font-size: 100px;
       margin-top: 200px;
       margin-bottom: 20px;;
    }

    &__button {
        margin: 0 auto;
    }
}
